<!DOCTYPE html>
<html lang="en" ng-app="ethExplorer" class="no-js">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TPChain Explorer</title>
    <meta name="description" content="An Teapass (TPCH) Block Explorer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="shortcut icon" href=" favicon.ico" />
</head>

<body>
    <nav class="navbar navbar-dark navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./" data-locale="projectname">TPCH Explorer</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="./" data-locale="homename">首页</a></li>
                    <li><a href="./chain" data-locale="blockchainInfo">信息</a></li>
                </ul>
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" ng-controller="mainCtrl" ng-submit="processRequest()" name="search_form"
                        role="search">
                        <div class="input-group">
                            <input type="text" style="width: 150px !important;"
                                placeholder="Tx Hash, Address, or Block #" name="requestType" required
                                ng-model="ethRequest" class="form-control searchi">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-blue" type="submit"><i
                                        class="fa fa-search"></i></button>
                            </div>
                            <div>
                                <select id="lang" class="form-control header-lang" style="width: 70px;">
                                    <option checked value="zh">zh</option>
                                    <option value="en">en</option>
                                </select>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </nav>


    <div ng-view>
        <div class="container" style="padding-top: 10px;">

            <h1><i class="fa fa-server"></i> <a data-locale="teapassinfo">TPCH信息</a>
                <!-- <small style="color: #3c729c;" >View information about the Teapass Blockchain</small> -->
            </h1>
            <div id="chain" class="blockdiv">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th colspan="2" style="text-align:left"><a data-locale="summary"
                                    style="text-decoration:none">摘要</a></th>
                        </tr>
                        <tr>
                            <td><a data-locale="currentblock" style="text-decoration:none">区块高度</a></td>
                            <td><a href="./block/<%= blockNum  %>"><%= blockNum  %></a></td>
                        </tr>
                        <tr>
                            <td><a data-locale="blocktime" style="text-decoration:none">区块时间</a></td>
                            <td>
                                <%= blocktime  %> <a data-locale="secondssinceblock" style="text-decoration:none">秒 间隔
                                </a><a href="./block/<%= blockNum - 1  %>"><%= blockNum - 1  %></a><br>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><a data-locale="currentdiffculty" style="text-decoration:none">计算难度</a></td>
                            <td><%= difficulty  %></td>
                        </tr>
                        <tr>
                            <td><a data-locale="totaldifficulty" style="text-decoration:none">总难度</a></td>
                            <td><%= totalDifficulty  %></td>
                        </tr>
                        <tr>
                            <td><a data-locale="gaslimit" style="text-decoration:none">能量上限</a></td>
                            <td><%= gasLimit  %></td>
                        </tr>
                        <tr>
                            <td><a data-locale="time" style="text-decoration:none">时间</a></td>
                            <td><%= time  %></td>
                        </tr>
                        <tr>
                            <td><a data-locale="tpchnetwork" style="text-decoration:none">网络状态</a></td>
                            <td>true</td>
                        </tr>
                        <tr>
                            <td><a data-locale="apiversion" style="text-decoration:none">API/客户端 版本</a></td>
                            <td><%= versionApi  %></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>

        </div>


    </div>

    <script src="scripts/angular.min.js"></script>

    <script src="scripts/jquery-3.4.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/i18n/jquery.i18n.properties.js"></script>
    <script src="scripts/i18n/language.js"></script>
    <script src="scripts/hex.js?v=1.2"></script>


    <!--Services-->
    <div id="connectwarning" class="modal fade" role="dialog">

        <!-- begin AltSheets -->
        <div id="connectwarning-dialog" class="modal-dialog">
            <!-- end AltSheets -->

            <!-- Modal content-->
            <div class="modal-content">
                <center>
                    <div class="modal-header">
                        <h4 class="modal-title">Allow Access to tpch and Refresh the Page</h4>
                    </div>
                    <div class="modal-body">
                        <code><p id="modaltext"></p></code>
                    </div>
                </center>
            </div>
        </div>
    </div>


    <div class="footer styledfoot">
        <footer><br />
            © TPCH EXPLORER BETA 2019 | <a href="#" data-locale="linkurl">Website</a><br />
            <br />
        </footer>
    </div>
</body>

</html>